:root {
    --title-color: #7700FF;
  }

body {
    background-color: #212121;
    margin: 0;
    overflow-y: hidden;
}

canvas {
	position: absolute;
	margin: auto;
    width: 100%;
    height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    z-index: -10;
}

body:after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("assets/bg.jpg") center center no-repeat;
    filter: brightness(0.1);
    background-size: cover;
    z-index: -999;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.82);
}
   
::-webkit-scrollbar-thumb {
    background: var(--title-color);
    box-shadow: 0px 0px 10px 10px var(--title-color);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #5f00cc;
    box-shadow: 0px 0px 10px 10px #5f00cc;
}

::-webkit-scrollbar-thumb:active {
    background: #470099;
    box-shadow: 0px 0px 10px 10px #470099;
}

ul > a {
    color: transparent;
}

p > a {
    color: #7700FF;
}

p > a:hover {
    color: #5f00cc;
}

p > a:active {
    color: #470099;
}

#loading-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loading 1s 1 1s;
    z-index: 999;
}

#white-shadow {
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: white;
    box-shadow: 0 0 20px 20px white;
    rotate: 135deg;
    animation: shadow 1s 1;
}

#loading-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

@keyframes shadow {
    0% {
        margin-top: -200px;
        margin-left: -200px;
    }
    100% {
        margin-top: 200px;
        margin-left: 200px;
    }
}

@keyframes loading {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100vh;
    }
}

#navbar {
    position: fixed;
    width: 100%;
    height: 60px;
}

#nav-projects-div {
    position: absolute;
    cursor: pointer;
    width: 130px;
    height: 60px;
    margin-top: -18px;
    right: 170px;
}

#nav-projects-text {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 0px 0px 10px black;
    right: 10px;
}

#nav-projects-div::before {
    content: "";
    position: absolute;
    top: 30px;
    background: var(--title-color);
    width: 0px;
    height: 0px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 0px var(--title-color);
    box-shadow: 0px 0px 100px 30px var(--title-color);
    margin-left: 50%;
    opacity: 0%;
    transition: all 1s;
    z-index: -1;
}

#nav-projects-div:hover::before {
    opacity: 100%;
}

#languages-menu {
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 60px;
    margin-top: 0;
    right: 0;
}

#united-kingdom-flag {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 18px;
    left: 10px;
}

#languages-menu-text {
    position: absolute;
    color: white;
    font: message-box;
    font-size: 30px;
    text-shadow: 0px 0px 10px black;
    top: 12px;
    right: 45px;
}

.arrow {
    position: absolute;
    height: 15px;
    width: 15px;
    border: 3px solid white;
    border-width: 3px 3px 0 0;
    top: 15px;
    right: 12px;
    transition: all 0.5s;
}

.toggle-down {
    transform: rotate(138deg);
}
  
.toggle-up {
    top: 25px;
    transform: rotate(318deg);
}

.languages-list {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to left top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 150px;
    height: 100px;
    border-bottom-left-radius: 10px;
    right: 0px;
    box-shadow: 0px 0px 50px 0px black;
    transition: all 0.5s;
}

.languages-list-text {
    cursor: pointer;
    color: white;
    font: message-box;
    font-size: 30px;
}

#poland {
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-right: 0;
}

#polish-text {
    margin-top: 6px;
    margin-left: 20px;
}

#polish-flag {
    width: 40px;
    height: 20px;
    margin-top: 11px;
    margin-left: 15px;
}

#germany {
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-top: 0;
    margin-right: 0;
}

#germany-text {
    margin-top: 6px;
    margin-left: 20px;
}

#germany-flag {
    width: 40px;
    height: 20px;
    margin-top: 11px;
    margin-left: 15px;
}

.unshow {
    margin-top: -1000;
    opacity: 0%;
    z-index: -1;
}

.show {
    margin-top: 60px;
    opacity: 100%;
}

#languages-menu::before {
    content: "";
    position: absolute;
    top: 30px;
    background: var(--title-color);
    width: 0px;
    height: 0px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 0px var(--title-color);
    box-shadow: 0px 0px 100px 30px var(--title-color);
    margin-left: 50%;
    opacity: 0%;
    transition: all 1s;
    z-index: -1;
}

#languages-menu:hover::before {
    opacity: 100%;
}

#main-section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #080808;
    z-index: -1;
}

#hello-text {
    position: absolute;
    left: 50%;
    overflow: hidden;
    width: 200px;
    top: 40vh;
    margin-top: -29px;
    margin-left: -390px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    white-space: nowrap;
    letter-spacing: 5px;
}

.typewriter h1 {
    position: absolute;
    left: 50%;
    overflow: hidden;
    width: 200px;
    margin-top: 40vh;
    margin-left: -110px;
    border-right: solid 3px white;
    border-right-style: double;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: rgb(119, 0, 255);
    white-space: nowrap;
    letter-spacing: 5px;
    animation: 
        typing 1s 1s steps(40, end),
        blink-caret 1s step-end infinite;
    z-index: -1;
    transform: translate(-50%, -50%);
}

@keyframes typing {
    from { width: 0 }
    to { width: 200px }
}
  
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

#job-title {
    position: absolute;
    color: rgb(255, 255, 255);
    filter: brightness(0.7);
    font-family: 'Poppins', sans-serif;
    left: 50%;
    top: 40vh;
    margin-top: 45px;
    margin-left: -235px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

#main-image {
    position: absolute;
    width: 200px;
    border-radius: 999px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -75px;
    margin-left: 200px;
}

#programming-image {
    position: absolute;
    width: 100%;
    height: 106.5vh;
    margin-top: -60px;
    z-index: -1;
}

#about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 100vh;
    z-index: -10;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1000;
}

#about-me-box {
    position: relative;
    width: 1000px;
    height: 600px;
    background-color: transparent;
    overflow: hidden;
    z-index: -3;
}

#about-me-box-inside {
    position: absolute;
    width: 990px;
    height: 590px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: -1;
    margin: 5px;
}

#about-me-box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1000px;
    height: 600px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, var(--title-color));
    animation: infinite 6s linear infinite;
    z-index: -2;
}

#about-me-box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1000px;
    height: 600px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, var(--title-color));
    animation: infinite 6s linear infinite;
    animation-delay: -3s;
    z-index: -2;
}

#about-me-text1 {
    position: absolute;
    color: white;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Zen Dots', cursive;
    font-size: 50px;
    white-space: nowrap;
}

#about-me-text2 {
    position: absolute;
    color: white;
    margin-top: 110px;
    margin-left: 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

#about-me-text3 {
    position: absolute;
    color: white;
    margin-top: 195px;
    margin-left: 40px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.programming-language-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 215px;
    border: solid 3px white;
}

.programming-language-text {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 280px;
}

#html-icon {
    background-color: black;
}

#html-text {
    margin-left: 8px;
}

#css-icon {
    margin-left: 80px;
}

#css-text {
    margin-left: 93px;
}

#javascript-icon {
    margin-left: 160px;
}

#javascript-text {
    margin-left: 150px;
}

#python-icon {
    background-color: black;
    margin-top: 320px;
}

#python-text {
    margin-top: 385px;
    margin-left: 4px;
}

#mysql-icon {
    background-color: black;
    margin-top: 320px;
    margin-left: 80px;
}

#mysql-text {
    margin-top: 385px;
    margin-left: 84px;
}

#php-icon {
    background-color: black;
    margin-top: 320px;
    margin-left: 160px;
}

#php-text {
    margin-top: 385px;
    margin-left: 172px;
}

#about-me-text4 {
    position: absolute;
    color: white;
    margin-top: 180px;
    margin-left: 380px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

#cyber-security-icon {
    margin-top: 215px;
    margin-left: 370px;
    background-color: gray;
}

#cyber-security-text {
    margin-top: 280px;
    margin-left: 345px;
}

#photos-editing-icon {
    margin-top: 215px;
    margin-left: 520px;
    background-color: gray;
}

#photos-editing-text {
    margin-top: 280px;
    margin-left: 495px;
}

#videos-editing-icon {
    margin-top: 320px;
    margin-left: 370px;
    background-color: gray;
}

#videos-editing-text {
    margin-top: 385px;
    margin-left: 347px;
}

#database-icon {
    margin-top: 320px;
    margin-left: 520px;
    background-color: gray;
}

#database-text {
    margin-top: 385px;
    margin-left: 510px;
}

#img-pokemon-crow {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-top: 20px;
    margin-left: 670px;
    z-index: 1;
}

#about-me-text5 {
    position: absolute;
    color: white;
    margin-top: 5px;
    right: 130px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

#about-me-text6 {
    position: absolute;
    color: white;
    margin-top: 50px;
    right: 45px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

#social-media-list {
    width: 165px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}

#github-icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: solid white 5px;
    border-radius: 100px;
    background-color: white;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

#github-icon:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 20px 5px black;
}

#discord-icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: solid white 5px;
    border-radius: 100px;
    background-color: black;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    margin-left: 20px;
}

#discord-icon:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 20px 5px black;
}

#copy-done {
    display: flex;
    color: white;
    width: 100px;
    height: 23px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 173, 72, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-top: -110px;
    padding-top: 5px;
    border-radius: 10px;
    opacity: 0;
    transition: all 1s;
    justify-content: center;
}

#easter-egg {
    position: absolute;
    width: 980px;
    height: 580px;
    z-index: -4;
}

@keyframes infinite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 1025px) {
    #about-me-section {
        height: 1320px;
    }

    #about-me-box {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    #about-me-box::before {
        display: none;
    }
    
    #about-me-box::after {
        display: none;
    }

    #about-me-box-inside {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    #about-me-text1 {
        position: absolute;
        color: white;
        font-family: 'Zen Dots', cursive;
        font-size: 50px;
        white-space: nowrap;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #img-pokemon-crow {
        width: 300px;
        height: 300px;
        left: 0;
        margin-top: 120px;
        border-radius: 300px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
    
    #about-me-text5 {
        position: absolute;
        color: white;
        font-size: 35px;
        left: 50%;
        transform: translate(-50%, 0);
        font-family: Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }

    #about-me-text6 {
        position: absolute;
        color: white;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 20px;
        white-space: nowrap;
    }

    #about-me-text2 {
        color: white;
        margin-top: 520px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        white-space: pre;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #about-me-text3 {
        position: absolute;
        color: white;
        margin-top: 594px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }

    #html-icon {
        margin-top: 620px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -80px;
        background-color: black;
    }
    
    #html-text {
        margin-top: 690px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -80px;
    }
    
    #css-icon {
        margin-top: 620px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 30px;
    }
    
    #css-text {
        margin-top: 690px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 33px;
    }
    
    #javascript-icon {
        margin-top: 620px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 140px;
    }
    
    #javascript-text {
        margin-top: 690px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 142px;
    }
    
    #python-icon {
        margin-top: 750px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -80px;
        background-color: black;
    }
    
    #python-text {
        margin-top: 820px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -80px;
    }
    
    #mysql-icon {
        margin-top: 750px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 30px;
    }
    
    #mysql-text {
        margin-top: 820px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 33px;
    }
    
    #php-icon {
        margin-top: 750px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 140px;
    }
    
    #php-text {
        margin-top: 820px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 142px;
    }
    
    #about-me-text4 {
        position: absolute;
        color: white;
        margin-top: 870px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 40px;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }
    
    #cyber-security-icon {
        margin-top: 920px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -50px;
        background-color: gray;
    }
    
    #cyber-security-text {
        margin-top: 990px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -50px;
    }
    
    #photos-editing-icon {
        margin-top: 920px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 120px;
        background-color: gray;
    }
    
    #photos-editing-text {
        margin-top: 990px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 120px;
    }
    
    #videos-editing-icon {
        margin-top: 1050px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -50px;
        background-color: gray;
    }
    
    #videos-editing-text {
        margin-top: 1120px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -50px;
    }
    
    #database-icon {
        margin-top: 1050px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 120px;
        background-color: gray;
    }
    
    #database-text {
        margin-top: 1120px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 120px;
    }

    #social-media-list {
        width: 165px;
        margin-top: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #about-me-box-inside {
        background-color: transparent;
    }
}

@media only screen and (max-width: 1050px) {
    #easter-egg {
        display: none;
    }
}

@media only screen and (max-width: 830px) {
    #main-image {
        margin-left: 0px;
        margin-top: -200px;
    }
    #hello-text {
        margin-left: -190px;
        margin-top: 10px;
    }
    .typewriter {
        margin-top: 40px;
    }
    #wrona-text {
        margin-left: 90px;
    }
    #job-title {
        margin-left: 0px;
        margin-top: 90px;
    }
}

@media only screen and (max-width: 225px) {
    #main-image {
        width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    #hello-text {
        margin-left: -75px;
    }
    .typewriter {
        margin-top: 100px;
        margin-left: -1120px;
    }
    #wrona-text {
        margin-left: 10px;
    }
    #job-title {
        margin-top: 150px;
    }
}